<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <div class="card-header">Slaptažodžio keitimas</div>
    <div class="div card-body">
      <div class="alert alert-danger" *ngIf="error !== ''">
        {{ error }}
      </div>
      <div class="alert alert-success" *ngIf="changeSuccess">
        {{ 'Slaptažodis pakeistas sėkmingai' }}
      </div>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="mb-3">
          <label for="password" class="form-label">Naujas slaptažodis</label>
          <input type="password" name="password" id="password" class="form-control" ngModel required minlength="6">
        </div>
        <div class="mb-3">
          <label for="passwordRepeat" class="form-label">Pakartokite slaptažodį</label>
          <input type="password" name="passwordRepeat" id="passwordRepeat" class="form-control" ngModel required minlength="6">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!f.valid">
         Keisti slaptažodį
        </button>
      </form>
    </div>
  </div>
</div>